@tailwind base;
@tailwind components;
@tailwind utilities;

.primary-color {
  color: #facd59;
}

.greenButton {
  box-shadow: 0px 10px 4px 0px #00000030;
  width: 251px;
  height: 77.5px;
  gap: 0px;
  border-radius: 15px;
  border: 1px;
  opacity: 0px;
  background: #5a737b;
  font-family: NotoSerifTamilSlanted;
  font-size: 30px;
  font-style: italic;
  font-weight: 800;
  line-height: 5px;
  text-align: center;
  color: #ffff;
}
